<% if @solid.gender == "male" %>
  <h2>Male</h2>
  <h2>Excesso de Risco Relativo (ERR) = <%= @err_male.round(2) %></h2>
  <h2>Risco Relativo (RR) = <%= @rr_male %></h2>
  <h2>Probabilidade de Causa(PC) = <%= @pc_male %>%</h2>
  <h1>Lost Life Expectancy Rate</h1>
  <% if @solid.incidence.present?  %>
    <h2>LLE Atual = <%= @lle_male.round %>dias</h2>
    <h2>20 anos = <%= @vinte_male.round %>dias</h2>
    <h2>30 anos = <%= @trinta_male.round %>dias</h2>
    <h2>40 anos = <%= @quarenta_male.round %>dias</h2>
    <h2>50 anos = <%= @cinquenta_male.round %>dias</h2>
  <% end %>
  <p class="btn btn-grad"><%= link_to 'LLER', edit_solid_path(@solid) %></p>
<% elsif %>
  <h2>Female</h2>
  <h2>Excesso de Risco Relativo (ERR) = <%= @err_female %></h2>
  <h2>Risco Relativo (RR) = <%= @rr_female %></h2>
  <h2>Probabilidade de Causa(PC) = <%= @pc_female %>%</h2>
  <h1>Lost Life Expectancy Rate</h1>
  <% if @solid.incidence.present?  %>
    <h2>LLE Atual = <%= @lle_female.round %>dias</h2>
    <h2>20 anos = <%= @vinte_female.round %>dias</h2>
    <h2>30 anos = <%= @trinta_female.round %>dias</h2>
    <h2>40 anos = <%= @quarenta_female.round %>dias</h2>
    <h2>50 anos = <%= @cinquenta_female.round %>dias</h2>
  <% end %>
  <p class="btn btn-grad"><%= link_to 'LLER', edit_solid_path(@solid) %></p>
<% end %>
<%= link_to 'Back', root_path %>