<% if @solid.gender == "male" %>
  <h2>Male</h2>
  <h2>Excesso de Risco Relativo (ERR) = <%= @err_male.round(2) %></h2>
  <h2>Risco Relativo (RR) = <%= @rr_male %></h2>
  <h2>Probabilidade de Causa(PC) = <%= @pc_male %>%</h2>
  <h1>Lost Life Expectancy Rate</h1>
  <p class="btn btn-grad"><%= link_to 'LLER', edit_solid_path(@solid) %></p>
  <p><%= "#{@solid.male_expected_age}" %>
<% elsif %>
  <h2>Female</h2>
  <h2>Excesso de Risco Relativo (ERR) = <%= @err_female %></h2>
  <h2>Risco Relativo (RR) = <%= @rr_female %></h2>
  <h2>Probabilidade de Causa(PC) = <%= @pc_female %>%</h2>
  <h1>Lost Life Expectancy Rate</h1>


<% end %>
<%= link_to 'Back', root_path %>